/* Alapértelmezések */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
}

/* Fejléc */
header {
    text-align: center;
    padding: 20px 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

/* Menü */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Tartalom */
h1 {
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

form {
    text-align: center;
    margin-top: 20px;
}

button,
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="button"] {
    font-size: 16px; /* Példa méret, a számodra megfelelő méretet állítsd be */
    padding: 5px 10px; /* Példa padding, a számodra megfelelő méretet állítsd be */
}

/* Lábléc */
footer {
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
}

/* Mobilnézet - Hamburger menü */
.menu-toggle {
    display: none; /* Alapértelmezett rejtés */
    cursor: pointer;
}

.nav-menu {
    display: none; /* Alapértelmezett rejtés */
    text-align: center;
}

/* Media query a mobil nézethez */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block; /* Megjelenítés kisebb képernyőknél */
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 9999;
        padding: auto;
    }

    .nav-menu {
        display: none; /* Alapértelmezett rejtés */
        width: 100%;
        background-color: #f5f5f5;
        padding: 20px 0;
        position: fixed;
        top: 0;
        left: 0;
    }

    .nav-menu ul {
        padding: 0;
    }

    .nav-menu li {
        display: block;
        margin-bottom: 10px;
    }

    .nav-menu a {
        text-decoration: none;
        color: #333;
        font-size: 1.2em;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
    
    .nav-menu.show-menu {
        display: block;
    }
}

/* Egyéb stílusok és kiegészítések */
.container {
    min-height: calc(80vh - 80px); /* Az új kalkuláció, ahol a footer-nek 20px paddingje van és a footer maga 80px magas */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px; /* Ezzel biztosítjuk, hogy a tartalom ne essen át a footer alá */
}

.horizontal-container {
    display: flex;
}

/* Button és Input közötti térköz */
button, input {
    margin-right: 10px; /* Vagy bármilyen érték ami megfelel neked */
}

/* Az utolsó elem margin-ját töröljük, hogy ne legyen túl sok tér a végén */
.horizontal-container button:last-child, .horizontal-container input:last-child {
    margin-right: 0;
}

th, td {
    border: 1px solid #000; /* Példa keret beállítása */
    padding: 8px; /* Példa belső térköz beállítása */
    text-align: center; /* Tartalom középre igazítása */
}

/* Nagyobb képernyőkön a vízszintes menü megjelenítése */
@media screen and (min-width: 769px) {
    .nav-menu {
        display: block;
        text-align: center;
    }

    .nav-menu ul {
        display: inline-block;
        padding: 0;
    }

    .nav-menu li {
        display: inline-block;
        margin-right: 20px;
    }
}

.product {
    margin: 0;
    border: 1px solid black; /* csak példa, a keret hozzáadása */
    padding: 10px; /* csak példa, a belső tér hozzáadása */
}

.product p {
    margin: 0%;
    display: inline;
    float: right;
}